@using TRKPortfolio.Web.ViewModels.Administration.Skills.ViewModel
@model AllSkillsViewModel

<div class="row d-flex vh-100">
    <div class="col-md-6 offset-3 mt-5 align-self-center">
        <h1 class="text-center">Skills</h1>
        <table class="col-8 offset-4 mt-5">
            <tr>
                <th>ID</th>
                <th>Skill Title</th>
            </tr>
            @foreach (var category in Model.Skills)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.SkillTitle</td>
                </tr>
            }
        </table>
        <a class="btn mt-3 col-8 offset-2" asp-area="Administration" asp-controller="Skills" asp-action="Create">Create new Skill</a>
    </div>
</div>
