@using System.Globalization
@using TRKPortfolio.Web.ViewModels.Administration.Categories.ViewModel
@model AllCategoriesViewModel

<div class="row d-flex vh-100">
    <div class="col-md-6 offset-3 mt-5 align-self-center">
        <h1 class="text-center">Categories</h1>
        <table class="col-8 offset-4 mt-5">
            <tr>
                <th>ID</th>
                <th>Category Name</th>
            </tr>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                </tr>
            }
        </table>
        <a class="btn mt-3 col-8 offset-2" asp-area="Administration" asp-controller="Categories" asp-action="Create">Create new Category</a>
    </div>
</div>
