@model TRKPortfolio.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}



<div class="row d-flex vh-100">
    <div class="col-md-6 offset-3 mt-5 align-self-center">

        <h2 class="text-center">From here you can View all Categories, delete Category or create new ones</h2>

        <a class="btn col-6 offset-3 mt-2 mb-5" 
           asp-area="Administration" 
           asp-controller="Categories"
           asp-action="Create">Categories
        </a>

        <h2 class="text-center">From here you can View all Skills, delete Skill or create new ones</h2>

        <a class="btn col-6 offset-3 mt-2" 
           asp-area="Administration" 
           asp-controller="Skills" 
           asp-action="Create">Skills
        </a>
    </div>
</div>
