@using TRKPortfolio.Web.ViewModels.Administration.Posts.ViewModel
@model PostViewModel

<div class="row d-flex pt-5">
    <div class="col-6 offset-3 mt-5 align-self-center">
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
    </div>
    @foreach (var paragraph in Model.Paragraphs)
    {
        <div class="col-6 offset-3 mt-5 align-self-center">
            <h2>@paragraph.ParagraphTitle</h2>
            <p>@paragraph.ParagraphContent</p>
        </div>
    }
</div>