body {
    color: #030B53;
    background-color: #EDF1F8;
}

#arrow {
    height: 35px;
}

#blur {
    filter: blur(1rem);
}

#select_many {
    background-color: #C7D6EF;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-color: #A8A8A8;
}

select.form-control[multiple], select.form-control[size] {
    background-color: #C7D6EF;
    border-color: #A8A8A8;
    border-radius: 10px;
}

nav {
    position: absolute !important;
}

.navbar-light {
    background-color: #EDF1F8 !important;
}

.nav-link {
    color: #030B53 !important;
}

.blog-redirect {
    color: #030B53 !important;
}

h1 {
    font-family: 'Corben', cursive;
    font-weight: 700;
    margin-top: 2.5rem;
    font-size: 45px;
    margin-bottom: 1rem;
}

h2 {
    line-height: 75%;
}

h3 {
    font-family: 'Corben', cursive;
    font-weight: 700;
}

ul {
    padding: 0px !important;
}

    ul li {
        list-style: none;
    }

.name {
    color: #3DCAA8;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    background-color: #3DCAA8;
    color: #ffffff;
}

    .btn:hover {
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        border-radius: 10px;
        background-color: transparent;
        border-color: #3DCAA8;
        color: #030B53;
    }

#secondarynav {
    font-size: 16px;
    padding: 5px 25px 5px 25px;
    background-color: transparent;
    border-color: #3DCAA8;
    color: #030B53;
}

    #secondarynav:hover {
        background-color: #3DCAA8;
        color: #ffffff !important;
    }


#secondary {
    background-color: transparent;
    border-color: #3DCAA8;
    color: #030B53;
}

    #secondary:hover {
        background-color: #3DCAA8;
        color: #ffffff !important;
    }

#danger {
    background-color: transparent;
    border-color: #FB3758;
    color: #030B53;
}

    #danger:hover {
        background-color: #FB3758;
        color: #ffffff !important;
    }

.looking-for ul li {
    width: 7rem;
    padding-right: 25px;
}

.looking-for {
    height: 60vh;
}

.projects {
    height: 50vh;
}

.testimonials {
    height: 40vh;
}

#testimonialContent {
    font-size: 25px;
}

.inputForm {
    height: 70vh;
}

#customeInput {
    height: 3rem;
    border-color: #A8A8A8;
    border-radius: 10px;
    background-color: #C7D6EF;
    padding: 10px;
    width: 100%;
}

#manage {
    margin-top: 5rem !important;
}

body > div > main > div.row.d-flex.project {
    height: 50vh;
}

body > div > main > div.row.justify-content-center > h1 {
    height: 13vh;
    margin-top: 5rem;
}

@media only screen and (max-width: 991px) {
    nav {
        position: static !important;
        background-color: #EDF1F8;
    }

    #hi {
        width: 65%;
        margin-left: 15%;
    }

    h1 {
        margin-top: 1rem;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        padding-top: 5rem !important;
    }

    p {
        padding-bottom: 1rem;
    }

    .looking-for ul {
        margin-top: 3rem;
    }

    .tagline {
        margin-top: 2rem;
    }

    .row .hero {
        padding-bottom: 5rem;
    }

    .row .justify-content-around {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        margin-top: 1rem;
    }

    h2 {
        font-size: 22px;
    }
}
