@using System.Globalization
@using TRKPortfolio.Web.ViewModels.Projects.ViewModel
@model ProjectViewModel

<div class="row d-flex vh-100">
    <div class="col-md-4 offset-4 mt-5 align-self-center">
        <h1>@Model.Title</h1>
    </div>
</div>
