@using System.Globalization
@using TRKPortfolio.Web.ViewModels.Testimonials.InputModel
@using TRKPortfolio.Web.ViewModels.Projects.ViewModel
@model CreateTestimonialInputModel

@{
    this.ViewData["Title"] = "Create Category";
}
<vc:header></vc:header>

<div class="row d-flex vh-100">

    <div class="col-md-4 offset-4 mt-5 align-self-center">

        <form enctype="multipart/form-data"
              asp-controller="Projects"
              asp-action="Edit"
              method="post">

            <div class="form-group">
                <h3 class="mb-3 text-center">Testimonial</h3>
                <textarea cols="40" rows="5" id="customeInput" type="text" name="Text"
                          class="form-control h-100 mt-2 mb-4">@Model.CurrentTestimonial</textarea>
                <span asp-validation-for="@Model.Text"
                      class="text-danger">

                </span>
            </div>

            <a class="btn col-12"
               onclick="this.closest('form').submit();return false;">
                Edit Testimonial
            </a>
        </form>
    </div>
</div>